body {
    font-family: Georgia, Arial, sans-serif;
    margin: 20;
    padding:10;
    background-color: #f4f4f4;
}

#container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#header {
    background: #50b3a2;
    color: white;
    padding: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

#content {
    background: #ffffff;
    padding: 20px;
    padding-bottom: 100px;
}

#footer {
    padding: 20px;
    margin-top: 0px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
